<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add/Edit Product</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        #drop-zone {
            border: 2px dashed #ccc;
            padding: 20px;
            text-align: center;
            cursor: pointer;
            color: #999;
        }
        #drop-zone.hover {
            border-color: #333;
        }
        #preview {
            max-height: 150px;
            margin-top: 10px;
        }
    </style>
</head>
<body class="p-4">

<div class="container">
    <h2 th:text="${product.id != null} ? 'Edit Product' : 'Add Product'"></h2>
	<form th:action="@{/admin/products/save}" th:object="${product}" method="post" enctype="multipart/form-data">
	    <input type="hidden" th:field="*{id}" />

	    <label>Name:</label>
	    <input type="text" th:field="*{name}" /><br/>

	    <label>Description:</label>
	    <textarea th:field="*{description}"></textarea><br/>

	    <label>Price:</label>
	    <input type="number" th:field="*{price}" step="0.01" /><br/>

	    <label>Stock:</label>
	    <input type="number" th:field="*{stock}" /><br/>

	    <label>Category:</label>
	    <select th:field="*{category.id}">
	        <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
	    </select><br/>

	   

	    <label>enter image URL:</label>
	    <input type="text" name="imageUrlInput" th:value="${product.imageUrl}" id="imageUrlField" /><br/>
	    <img id="urlPreview" style="max-height: 100px;" /><br/>

	    <button type="submit">Save</button>
	</form>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>
   
</script>
</body>
</html>
